body {
    background-color: lightgrey;
    margin: 0;
    font-family: Helvetica, "Helvetica Neue", SansSerif;
    padding-top: 0px;
}

h1 {
    color: black;
    text-align: center;
    padding-top: 60px;

}

h2 {
    text-align: center;
}

p {
}

a.external_link {
    display: inline-block;
    overflow: hidden;
    float: right;
    width: 80%;
    padding: 10px 16px;
    text-decoration: none;
    color: #FF5733;
    background-color: orange;
}

a.largen {
    font-size: 2em;

}

a.link:hover {
    background-color: #1A2930;
    color: #FF5733;
}

a.link:visited {
    color: #33FF57
}

#wrapper {
    width: 80%;
    margin-left: 220px;
    margin-right: auto;
}

#menu {
    background-color: antiquewhite;
    height: 80px;
    line-height: 80px;
    width: 368px;
}

#logo {
    width: 592px;
}

#menu ul {
    margin: 0px;
}

#menu li {
    display: inline;
}

#banner {
    clear: both;
    background: url("../images/attractive-man-dressed-casual-wearing-glasses---studio-shot-copy-space.jpg&size=1024") no-repeat;
    background-size: 100%;
    padding-bottom: 60%;
    margin-left: auto;
    margin-right: auto;
}

#hero-text {
    position: relative;
    width: 367px;
    top: 0em;
    left: 100px;
    font-size: xx-large;
}

#hero-text h1 {
    margin: 0px;
}

.std-padding {
    padding-left: 31px;
    padding-right: 31px;
}

#content {
    width: 544px;
    background-color: green;
    padding-left: 24px;
    padding-right: 24px;
    line-height: 27px;
}

#footer {
    background-color: #0A1612;
    color: white;

}

.centerText {
    text-align: center;

}

#panel1, #panel2, #panel3 {
    width: 26%;
    background-color: #aaaaaa;
    color: #1A2930;
    padding-bottom: 50px;
    position: relative;
    position: relative;
    float: left;
    margin: 1%;
}

#panel1 h1, #panel2 h1, #panel3 h1 {
    color: #0A1612;
}

.boxes {
    width: 300px;
    height: 300px;
    background-color: #1A2930;
    margin: 5px;
    position: center;
    float: left;
}

.clearLeft {
    clear: left;
}

.clear-fix {
    clear: both;
}

.favorite_colour {
    background-color: #0e278e;
    color: white
}

.center {
    text-align: center;
}

.holder {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    margin-top: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    list-style: none none;
    padding: 0;
}

.navbar li a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 12px 18px;
    text-decoration: none;
    font-size: 1.2em;

}

.sidebar {
    height: 100%;
    width: 200px;
    background-color: #1A2930;
    position: fixed !important;
    z-index: 1;
    overflow: hidden;
    top: 0;
}

.button {
    border: none;
    display: inline-block;
    padding: 16px 0px 16px 8px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.sidebar-item {
    width: 100%;
    display: block;
    padding: 8px 16px;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
    outline: 0;
    background-color: #1A2930;
    color: #cccccc;

}

a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.header {
    position: relative
}

img.resize {
    max-width: 70%;
    max-height: 70%;
}

.leftContent {
    float: left;
    padding-left: 5%;
    width: 40%
}

.rightContent {
    float: right;
    padding-right: 5%;
    width: 40%
}

ol.designElements {
    padding: 10px 30px;
    background-color: #aaa;
    border: 10px solid #3e4444;
}

.small {
    font-size: 8px;
}

.hardRead {
    background-color: red;
    color: blue;

}

#currentTime {
    position: relative;
    text-align: right;
}

#logo {
    width: 167px;
    padding-right: 0px;
}
img {
    min-height: 50px;
}

img:before {
    content: " ";
    display: block;

    position: absolute;
    top: -10px;
    left: 0;
    height: calc(100% + 10px);
    width: 100%;
    background-color: rgb(230, 230, 230);
    border: 2px dotted rgb(200, 200, 200);
    border-radius: 5px;
}

img:after {
    content: "\f127" " Broken Image of " attr(alt);
    display: block;
    font-size: 16px;
    font-style: normal;
    color: rgb(100, 100, 100);

    position: absolute;
    top: 5px;
    left: 0;
    width: 100%;
    text-align: center;
}